<ion-content>
  <div id="background">
    <header></header>

    <div class="header">
      <mat-label>General</mat-label>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input matInput readonly [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput [(ngModel)]="username" placeholder="UNO Master">
    </mat-form-field>

    <div class="header">
      <mat-label>Contraseña</mat-label>
      <mat-label class="subheader">Dejar vacío si no se va a cambiar</mat-label>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="••••••••••••••">
      <mat-icon matSuffix [class.show-password]="showPassword" (click)="toggleShowPassword()">visibility</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repetir contraseña</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="repeatPassword" placeholder="••••••••••••••">
      <mat-icon matSuffix [class.show-password]="showPassword" (click)="toggleShowPassword()">visibility</mat-icon>
    </mat-form-field>

    <button mat-flat-button color="accent" id="save-data" (click)="saveData()">
      <div class="inner">
        <mat-label>{{ 'Guardar cambios' | translate }}</mat-label>
      </div>
    </button>
  </div>
</ion-content>
