#ion-refresher-padding {
  width: 100%;
  height: 100%;
  padding: 15px 0px;
}

#background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 0px 15px;
  overflow-y: auto;
}


#background>.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.2);
  margin-bottom: 5px;
  padding-bottom: 5px;

  .header-label {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 0px 25px;

    mat-label {
      font-size: 13px;
      color: var(--ion-color-medium);
    }

    mat-label:first-of-type {
      font-size: 16px;
      color: var(--ion-color-dark);
    }
  }
}


mat-card {
  margin-top: 30px;
}

/**
 * ULTIMAS PARTIDAS JUGADAS / LUGARES DONDE MÃS HAS GANADO
 */
mat-card-content.tracker {
  .card-header {
    font-size: 18px;
    font-weight: bold;
    color: var(--ion-color-dark);
  }

  .table-header {
    display: flex;
    margin-top: 15px;
  }

  .table-header mat-label {
    font-size: 16px;
    font-weight: bold;
    color: var(--ion-color-medium);
  }

  .table-header mat-label:first-child {
    margin-left: 5px;
  }

  .table-separator {
    display: flex;
    margin: 8px -16px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.2);
  }

  .table-body {
    display: flex;
    flex-flow: column;

    .table-entry {
      display: flex;
      margin-top: 30px;
      align-items: center;

      img {
        min-width: 50px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 20px;
      }

      .left-stats {
        display: flex;
        flex-flow: column;
        margin-top: 4px;

        // Label inferior (Color gris)
        mat-label {
          font-size: 14px;
          color: var(--ion-color-medium);
        }
      }

      // Label superior (Color blanco)
      .left-stats mat-label:first-child {
        font-size: 18px;
        color: var(--ion-color-dark);
        margin-bottom: 5px;
      }

      .right-stats {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        margin-right: 2px;
      }

      // Icono inferior (Color gris)
      .right-stats>div {
        display: flex;
        align-items: center;
        color: var(--ion-color-medium);

        mat-icon {
          width: 20px;
          height: 20px;
          font-size: 20px;
          margin-right: 6px;
        }

        mat-label {
          margin-top: 2px;
        }
      }

      // Icono superior (Color blanco)
      .right-stats>div:first-child {
        margin-bottom: 5px;
        color: var(--ion-color-dark);
      }
    }

    .table-entry:first-child {
      margin-top: 20px;
    }
  }
}
