<ion-content>
  <div id="background">
    <header [headerMessage]="'Reglas del torneo'" [subheaderMessage]="'Visualizar biblioteca de cartas'"></header>

    <div class="swiper-background">
      <div class="swiper-header">
        <span></span>
        <mat-label>{{ 'Cartas normales' | translate }}</mat-label>
        <span></span>
      </div>
      <swiper-container #cardSwiper>
        <swiper-slide *ngFor="let card of [0,0,0,0,0,0,0,0]; index as i">
          <div class="image-container" (click)="showCard()">
            <img src="assets/images/+4.jpg" alt="card">
            <div class="card-overlay">
              <mat-label>Chupa cuatro</mat-label>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="swiper-background">
      <div class="swiper-header">
        <span></span>
        <mat-label>{{ 'Cadenas y reacciones' | translate }}</mat-label>
        <span></span>
      </div>
      <swiper-container #cardSwiper>
        <swiper-slide *ngFor="let card of [0,0,0,0,0,0,0,0]; index as i">
          <div class="image-container" (click)="showCard()">
            <img src="assets/images/+4.jpg" alt="card">
            <div class="card-overlay">
              <mat-label>Chupa cuatro</mat-label>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="swiper-background">
      <div class="swiper-header">
        <span></span>
        <mat-label>{{ 'Cartas especiales' | translate }}</mat-label>
        <span></span>
      </div>
      <swiper-container #cardSwiper>
        <swiper-slide *ngFor="let card of [0,0,0,0,0,0,0,0]; index as i">
          <div class="image-container" (click)="showCard()">
            <img src="assets/images/+4.jpg" alt="card">
            <div class="card-overlay">
              <mat-label>Chupa cuatro</mat-label>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</ion-content>
