<ion-content>
  <div id="background">
    <mat-tab-group>
      <mat-tab label="Torneos">
        <div id="current-tournaments">
          <div class="section-header">
            <mat-label>Torneos actuales</mat-label>

            <span class="separator"></span>

            <button mat-flat-button (click)="showFilters('Filtrar torneos actuales')">Filtros</button>
          </div>

          <div class="list-container">
            <div mat-ripple *ngFor="let item of [0, 0, 0]" class="section-list">
              <div class="stat">
                <mat-icon>person</mat-icon>
                <mat-label>4</mat-label>
              </div>

              <div class="details">
                <mat-label>Torneo verano 2023</mat-label>
                <mat-label>26 junio 2023</mat-label>
              </div>

              <mat-icon>chevron_right</mat-icon>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Historial">
        <div id="tournamets-history">
          <div class="section-header">
            <mat-label>Historial de torneos</mat-label>

            <span class="separator"></span>

            <button mat-flat-button (click)="showFilters('Filtrar historial de torneos')">Filtros</button>
          </div>

          <div class="list-container">
            <div mat-ripple *ngFor="let item of [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]" class="section-list">
              <div class="stat">
                <mat-icon>person</mat-icon>
                <mat-label>4</mat-label>
              </div>

              <div class="details">
                <mat-label>Torneo verano 2023</mat-label>
                <mat-label>26 junio 2023</mat-label>
              </div>

              <mat-icon>chevron_right</mat-icon>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</ion-content>
