#background {
  display: flex;
  flex-flow: column;
  margin: 15px 20px;
  margin-bottom: 0px;
  flex: 1 1 auto;
}

#current-tournaments,
#tournamets-history {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  margin-top: 25px;
}

#background .section-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#background .section-header>mat-label {
  font-size: 18px;
  font-weight: bold;
}

#background .list-container {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

#background .section-list {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin-bottom: 6px;
  padding: 13px 5px;
  border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.3);

  .stat {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 40px;

    mat-icon {
      margin-right: 10px;
    }
  }

  .stat:first-child mat-icon {
    margin-right: 7px;
  }

  .details {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;

    mat-label {
      color: var(--ion-color-medium);
      font-size: 14px;
    }

    mat-label:first-child {
      font-weight: bold;
      margin-bottom: 3px;
      color: var(--ion-color-dark);
    }
  }
}
