<ion-content>
  <div id="background">
    <header [headerMessage]="'Perfil público'" [subheaderMessage]="'Estadísticas personales'"></header>

    <!-- CABECERA CON INFORMACIÓN DEL PERFIL -->
    <div id="profile-data-header">
      <div id="profile-image-options" class="profile-image">
        <img src="assets/images/profile.jpg" alt="profile">

        <div id="edit-icon">
          <mat-icon>edit</mat-icon>
        </div>
      </div>

      <div class="profile-data">
        <div class="username">
          <mat-label>Napo</mat-label>
        </div>

        <div class="status" matTooltip="Estoy cuatro univerlos paralelos delante tuya">
          <mat-label>Estoy cuatro univerlos paralelos delante tuya</mat-label>
        </div>

        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <div id="level-progress">
          <mat-label>Nivel 10</mat-label>
          <span class="separator"></span>
          <mat-label>Nivel 11</mat-label>
        </div>
      </div>
    </div>

    <!-- ESTADÍSTICAS DESTACADAS -->
    <div id="highlighted-stats">
      <div class="stat" matTooltip="Partidas ganadas">
        <mat-icon>emoji_events</mat-icon>
        <div class="stat-header">
          <mat-label>Partidas ganadas</mat-label>
        </div>
        <mat-label>25</mat-label>
      </div>

      <div class="stat hightlighted" matTooltip="Partidas jugadas">
        <mat-icon>sports_esports</mat-icon>
        <div class="stat-header">
          <mat-label>Partidas jugadas</mat-label>
        </div>
        <mat-label>32</mat-label>
      </div>

      <div class="stat" matTooltip="Porcentaje victorias">
        <mat-icon>percent</mat-icon>
        <div class="stat-header">
          <mat-label>Porcentaje victorias</mat-label>
        </div>
        <mat-label>25</mat-label>
      </div>
    </div>

    <!-- CARTA FAVORITA -->
    <mat-card>
      <mat-card-content class="favorite-card-container">
        <div class="favorite-card">
          <div class="card-display">
            <img src="assets/images/+4.jpg" alt="card">
            <mat-label>Gema Roja</mat-label>
          </div>
          <div class="card-information">
            <mat-label class="header">Thanos &nbsp; - &nbsp; Gema Roja</mat-label>
            <mat-label class="subheader">Thanos - Gema Roja ha sido elegida como <b>carta favorita</b>.<br></mat-label>
            <mat-label class="subheader"><i>"Es la mejor carta del juego con bastante diferencia"</i></mat-label>
          </div>
        </div>
        <div class="show-card">
          <mat-icon>visibility</mat-icon>
          <mat-label>Detalles de la carta</mat-label>
        </div>
      </mat-card-content>
    </mat-card>


    <div class="slider-prueba-wrapper">
      <swiper-container #profileActionsSwiper class="mySwiper">
        <swiper-slide *ngFor="let item of [0,0,0,0,0,0,0]">
          <mat-card class="manage-action">
            <mat-card-content matRipple>
              <mat-icon>edit_note</mat-icon>
              <mat-label class="card-header">Cambiar parámetros</mat-label>
              <mat-label class="card-value">Ajustes</mat-label>
            </mat-card-content>
          </mat-card>
        </swiper-slide>
      </swiper-container>
    </div>




    <!-- TABLA DE ESTADÍSTICAS E INFORMACIÓN PERSONAL -->
    <mat-card>
      <mat-card-content class="table-container">
        <!-- init="false" impide que el componente se carge hasta que se llame a la clase initialize() -->
        <swiper-container #profileInformationSwiperHeader class="profile-information swiper-header">
          <swiper-slide>
            <div class="swiper-header-container"
              [class.show-active-slide]="activeInformationSwiperHeader == informationSwiperHeaderType.OVERVIEW">
              <mat-label>General</mat-label>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="swiper-header-container"
              [class.show-active-slide]="activeInformationSwiperHeader == informationSwiperHeaderType.STATS">
              <mat-label>Estadísticas</mat-label>
            </div>
          </swiper-slide>
          <swiper-slide [class.show-active-slide]="activeInformationSwiperHeader == informationSwiperHeaderType.SOCIAL">
            <div class="swiper-header-container">
              <mat-label>Social</mat-label>
            </div>
          </swiper-slide>
        </swiper-container>

        <swiper-container #profileInformationSwiperBody class="profile-information swiper-body"
          thumbs-swiper=".profile-information.swiper-header">
          <swiper-slide>
            <div class="table">
              <div class="stat">
                <div class="stat-header">
                  <mat-label>{{ 'Correo electrónico' | uppercase }}</mat-label>
                </div>
                <div class="stat-value">
                  <mat-label>thenapo212@gmail.com</mat-label>
                </div>
              </div>
              <div class="stat">
                <div class="stat-header">
                  <mat-label>{{ 'Nombre de usuario' | uppercase }}</mat-label>
                </div>
                <div class="stat-value">
                  <mat-label>Napo</mat-label>
                </div>
              </div>
              <div class="stat">
                <div class="stat-header">
                  <mat-label>{{ 'Fecha de creación' | uppercase }}</mat-label>
                </div>
                <div class="stat-value">
                  <mat-label>31 / 05 / 2024</mat-label>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="table performance-table-tab">
              <div class="stat">
                <div class="stat-header">
                  <mat-label>{{ 'Partidas jugadas' | uppercase }}</mat-label>
                </div>
                <div class="stat-value">
                  <mat-label>25</mat-label>
                </div>
              </div>
              <div class="stat">
                <div class="stat-header">
                  <mat-label>{{ 'Partidas ganadas' | uppercase }}</mat-label>
                </div>
                <div class="stat-value">
                  <mat-label>14</mat-label>
                </div>
              </div>
              <div class="stat">
                <div class="stat-header">
                  <mat-label>{{ 'Porcentaje de victoria' | uppercase }}</mat-label>
                </div>
                <div class="stat-value">
                  <mat-label>54%</mat-label>
                </div>
              </div>
              <div class="stat">
                <div class="stat-header">
                  <mat-label>{{ 'Victorias consecutivas' | uppercase }}</mat-label>
                </div>
                <div class="stat-value">
                  <mat-label>4</mat-label>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <!-- TODO - FALTA MODIFICAR VISUALMENTE PARA QUE SE PAREZCA A TABLA DE WINRATE -->
            <!-- todo - solo visible en tu perfil, no si miras perfil ajeno -->
            <div class="table social-table-tab">
              <div matRipple class="friend" *ngFor="let entry of [0, 0, 0, 0, 0, 0]">
                <div class="friend-name">
                  <mat-label>Gorpax</mat-label>
                </div>
                <div class="friend-stat">
                  <mat-icon>percent</mat-icon>
                  <mat-label>52,7</mat-label>
                </div>
                <div class="friend-stat">
                  <mat-icon>emoji_events</mat-icon>
                  <mat-label>25</mat-label>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>

<ion-action-sheet trigger="profile-image-options" header="Modificar imagen de perfil" [buttons]="profileImageButtons">
</ion-action-sheet>
