@import '../../../theme/utils.scss';

#background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 15px;
  overflow-y: auto;
}


/**
 * CABECERA CON INFORMACIÓN DEL PERFIL
 */
#profile-data-header {
  width: 100%;
  display: flex;
}

.profile-image {
  position: relative;
  margin-right: 22px;

  img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  #edit-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-light);
    position: absolute;
    right: 0px;
    bottom: 5px;
    border-radius: 100%;
  }

  mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: var(--ion-color-dark);
  }
}

#profile-data {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 1;
  padding: 5px;
  padding-top: 12px;
}

// Nombre de usuario
#profile-data>mat-label {
  font-size: 26px;
  font-weight: bold;
  color: var(--ion-color-dark);
  margin-left: 4px;
}

#email-container {
  display: flex;
  margin-top: 17px;
  margin-left: 3px;
  margin-right: 6px;
  margin-bottom: 5px;

  #email {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    color: var(--ion-color-medium);

    mat-label {
      @extend .text-overflow;
    }
  }

  mat-label {
    font-size: 12px;
  }
}

// Pone los bordes redondeados a la barra de experiencia
mat-progress-bar {
  border-radius: 10px;
}

// Pone los bordes redondeados a la barra de experiencia
:host ::ng-deep div span.mdc-linear-progress__bar-inner {
  border-radius: 10px;
}

// Sobreescribir la altura por defecto de la barra de experiencia
.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-height: 10px;
  --mdc-linear-progress-track-height: 10px;
}

#level-progress {
  display: flex;
  margin: 5px 4px;
  margin-bottom: 0px;

  mat-label {
    font-size: 10px;
    color: var(--ion-color-medium);
  }
}



/**
 * ESTADÍSTICAS DESTACADAS
 */
#highlighted-stats {
  display: flex;
  margin-top: 25px;
  margin-bottom: 10px;
}

#highlighted-stats .stat {
  width: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;

  mat-icon {
    color: var(--ion-color-medium);
  }

  // Descripción de la estadistica
  .stat-header {
    max-width: 100px;
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 8px;

    mat-label {
      font-size: 12px;
      color: var(--ion-color-medium);
      @extend .text-overflow;
    }
  }

  // Contador de la estadistica
  mat-label {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: var(--ion-color-dark);
  }
}

#highlighted-stats .stat.hightlighted {
  width: 40%;
  margin: 0px 11px;
  padding: 0px 12px;
  border-left: 1px solid rgba(var(--ion-color-medium-rgb), 0.2);
  border-right: 1px solid rgba(var(--ion-color-medium-rgb), 0.2);
}

#highlighted-stats .stat.hightlighted.favorite-card {
  // Descripción de la estadistica
  .stat-header {
    margin-bottom: 0px !important;

    mat-label {
      font-size: 12px;
      color: var(--ion-color-medium);
      @extend .text-overflow;
    }
  }

  // Contador de la estadistica
  mat-label {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    font-size: 16px;
    margin-top: 3px;
  }
}

#highlighted-stats>span.stat-separator {
  height: 100%;
}



/**
 * ULTIMAS PARTIDAS JUGADAS / LUGARES DONDE MÁS HAS GANADO
 */
#background mat-card {
  margin-top: 30px;
}

mat-card-content {
  padding: 16px;

  .card-header {
    font-size: 18px;
    font-weight: bold;
    color: var(--ion-color-dark);
  }

  .table-header {
    display: flex;
    margin-top: 15px;
  }

  .table-header mat-label {
    font-size: 16px;
    font-weight: bold;
    color: var(--ion-color-medium);
  }

  .table-header mat-label:first-child {
    margin-left: 5px;
  }

  .table-separator {
    display: flex;
    margin: 8px -16px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.2);
  }

  .table-body {
    display: flex;
    flex-flow: column;

    .table-entry {
      display: flex;
      margin-top: 30px;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 20px;
      }

      .left-stats {
        display: flex;
        flex-flow: column;

        // Label inferior (Color gris)
        mat-label {
          font-size: 12px;
          color: var(--ion-color-medium);
        }
      }

      // Label superior (Color blanco)
      .left-stats mat-label:first-child {
        font-size: 18px;
        color: var(--ion-color-dark);
        margin-bottom: 5px;
      }

      .right-stats {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        margin-right: 2px;
      }

      // Icono inferior (Color gris)
      .right-stats>div {
        display: flex;
        align-items: center;
        color: var(--ion-color-medium);

        mat-icon {
          width: 20px;
          height: 20px;
          font-size: 20px;
          margin-right: 6px;
        }

        mat-label {
          margin-top: 2px;
        }
      }

      // Icono superior (Color blanco)
      .right-stats>div:first-child {
        margin-bottom: 5px;
        color: var(--ion-color-dark);
      }
    }

    .table-entry:first-child {
      margin-top: 20px;
    }
  }
}



/*
 * TABLA DE ESTADÍSTICAS E INFORMACIÓN PERSONAL
 */
#background mat-card mat-card-content.table-container {
  padding: 12px;
  padding-top: 10px;
}

// Modifica el aspecto visual del mat-tab
:host ::ng-deep .mat-mdc-tab-label-container {
  border-radius: 10px;
}

:host ::ng-deep .mat-mdc-tab-list {
  padding: 3px;
  border-radius: 10px;
  background-color: var(--ion-background-color, #fff);
}

:host ::ng-deep .mdc-tab.mdc-tab {
  height: 33px;
  border-radius: 10px;
  background-color: var(--ion-background-color, #fff);
}

:host ::ng-deep .mdc-tab.mdc-tab--active {
  background-color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
}

:host ::ng-deep .mdc-tab__text-label {
  color: var(--ion-color-medium) !important;
}

:host ::ng-deep .mdc-tab-indicator__content {
  border: 0px;
}

// Elimina el color del ripple al seleccionar una pestaña
:host ::ng-deep .mdc-tab__ripple {
  --mat-tab-header-active-ripple-color: transparent;
}

// Modela la tabla con las estadísticas e información personal
.table-container .table {
  display: flex;
  flex-flow: column;
  margin: 12px 8px;

  .stat {
    display: flex;
    align-items: center;
    margin-top: 12px;

    .stat-header {
      min-width: 42%;
      flex: 0 1 40%;
      margin-right: 20px;
      @extend .text-overflow;
      font-size: 12px;
      color: var(--ion-color-medium);
    }

    .stat-value {
      flex-grow: 1;
      @extend .text-overflow;
      font-size: 15px;
      color: var(--ion-color-dark);
    }
  }
}
