<ion-content>
  <div id="header">
    <img
      [src]="utils.systemTheme == utils.themes.DARK ? 'assets/images/Icon-white.png' : 'assets/images/Icon-black.png'">
  </div>

  <div id="login-form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'email' | translate }}</mat-label>
      <input matInput placeholder="example@gmail.com">
    </mat-form-field>

    <button mat-flat-button color="accent" id="login">
      <mat-label>{{ 'reset_password' | translate }}</mat-label>
    </button>
  </div>

  <div id="footer">
    <div>
      <mat-label>{{ 'have_account_label' | translate }}</mat-label>
      <a [routerLink]="['/login']">{{ 'have_account_link' | translate }}</a>
    </div>
  </div>
</ion-content>
