html, body {
  margin: 0px;
}

body {
  min-height: 100vh !important;
}

.separator {
  flex: 1 1 auto;
}

.action-sheet .action-sheet-group .filter-active {
  color: var(--ion-color-primary);
}

.text-overflow {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  overflow-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
}
