ion-content::part(scroll) {
  display: flex;
  flex-flow: column;
  padding: 25px 15px;
}

#header {
  display: flex;
  flex-grow: 0.5;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 35px;
}

#header>img {
  width: 25%;
  max-height: 20vh;
  object-fit: contain;
  margin-top: 20px;
}

#register-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#register-form>mat-form-field mat-icon {
  margin-right: 5px;
}

#register-form>mat-form-field mat-icon.show-password {
  background-color: rgba(var(--ion-color-dark-rgb), 0.1);
  border-radius: 50%;
}

#register-form>button {
  padding: 22px 16px;
  border-radius: 10px;

  .inner {
    display: flex;
    align-items: center;

    img {
      max-height: 18px;
      object-fit: contain;
      margin-right: 12px;
      margin-bottom: 2px;
    }

    mat-icon {
      margin-right: 12px;
      margin-bottom: 2px;
    }
  }
}

#register-form>button#register {
  font-size: 16px;
}

#footer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  flex-grow: 1;
  margin-top: 35px;
}

#footer>div {
  display: flex;
  justify-content: center;
  font-size: 16px;

  mat-label {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
  }
}
