<ion-content>
  <div id="header">
    <img
      [src]="utils.systemTheme == utils.themes.DARK ? 'assets/images/Icon-white.png' : 'assets/images/Icon-black.png'">
  </div>

  <form id="register-form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'email' | translate }}</mat-label>
      <input matInput formControlName="email" placeholder="example@gmail.com">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'password' | translate }}</mat-label>
      <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'"
        placeholder="••••••••••••••">
      <mat-icon matSuffix [class.show-password]="showPassword" (click)="toggleShowPassword()">visibility</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'repeat_password' | translate }}</mat-label>
      <input matInput formControlName="repeat_password" [type]="showPassword ? 'text' : 'password'"
        placeholder="••••••••••••••">
      <mat-icon matSuffix [class.show-password]="showPassword" (click)="toggleShowPassword()">visibility</mat-icon>
    </mat-form-field>

    <password-strength-requirements [updatePasswordScore]="form.get('password')?.value"></password-strength-requirements>

    <button mat-flat-button color="accent" id="register" (click)="registerUser()">
      <mat-label>{{ 'register' | translate }}</mat-label>
    </button>
  </form>

  <div id="footer">
    <div>
      <mat-label>{{ 'have_account_label' | translate }}</mat-label>
      <a [routerLink]="['/login']">{{ 'have_account_link' | translate }}</a>
    </div>
  </div>
</ion-content>
