<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tournaments">
      <mat-icon>sports_esports</mat-icon>
      <mat-label>Torneos</mat-label>
    </ion-tab-button>

    <ion-tab-button tab="new-tournament">
      <mat-icon>add</mat-icon>
      <mat-label>Crear</mat-label>
    </ion-tab-button>

    <ion-tab-button tab="rules">
      <ion-icon name="library"></ion-icon>
      <mat-label>Reglas</mat-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <mat-icon>manage_accounts</mat-icon>
      <mat-label>Perfil</mat-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
