#background {
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 25px 15px;
}

#header {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

#header>img {
  max-height: 30px;
  object-fit: contain;
}

create-search-tournament {
  height: 100%;
}
