<!-- VALOR DE FORTALEZA DE LA CONTRASEÑA -->
<mat-card id="strength-container-card">
  <mat-card-content class="password-strength-container">
    <mat-icon [class]="'strength-value ' + passwordStrength.value">
      {{ passwordStrength.icon }}
    </mat-icon>

    <div class="password-strength">
      <mat-label>Nivel de seguridad</mat-label>
      <mat-label class="strength-value">{{ passwordStrength.value | translate }}</mat-label>
    </div>

    <span class="separator"></span>
    <button mat-button id="click-trigger" color="primary">Detalles</button>
  </mat-card-content>
</mat-card>

<!-- PARÁMETROS DE LA CONTRASEÑA -->
<div id="password-composition">
  <div *ngFor="let requirements of requirements">
    <!-- INDICA SI EL CARACTER YA ESTÁ INCLUIDO EN LA CONTRASEÑA -->
    <mat-icon [ngClass]="{ success: requirements.testSuccess, error: !requirements.testSuccess }">
      {{ requirements.testSuccess ? 'check' : 'close' }}
    </mat-icon>
    <!-- NOMBRE DEL CARACTER RECOMENDADO -->
    <mat-label [class.success]="requirements.testSuccess">{{ requirements.testName | translate }}</mat-label>
  </div>
</div>


<expansion-overlay expand-from-item-id="strength-container-card" component-to-expand-id="password-composition" expand-trigger-id="click-trigger" vertical-align="top" expand-from-item-hide-round-border="true"></expansion-overlay>
<!-- <expansion-overlay expand-from-item-class="'strength-container-card red'" [attr.component-to-expand]="'#password-composition'"></expansion-overlay> -->
