#background {
  display: flex;
  flex-flow: column;
  margin: 20px;
}

.header {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
}

.header .subheader {
  font-size: 12px;
  font-style: italic;
  margin-left: 10px;
  font-weight: normal;
  margin-top: 2px;
}

mat-form-field mat-icon {
  margin-right: 5px;
}

mat-form-field mat-icon.show-password {
  background-color: rgba(var(--ion-color-dark-rgb), 0.1);
  border-radius: 50%;
}

#background button {
  padding: 22px 16px;
  border-radius: 10px;

  .inner {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 12px;
      margin-bottom: 2px;
    }
  }
}

#background button#save-data {
  margin-top: 10px;
  font-size: 16px;
}
