<ion-header>
  <ion-toolbar>
    <ion-title>Buscador de torneos</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="createTournament()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="background">
    <button mat-flat-button color="accent" id="qr-search">
      <div class="inner">
        <mat-icon>qr_code_scanner</mat-icon>
        <mat-label>{{ 'Escanear código QR' | translate }}</mat-label>
      </div>
    </button>

    <div id="other-search-options">
      <span></span>
      <mat-label>{{ 'Introducir código manualmente' | translate }}</mat-label>
      <span></span>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'Código del torneo' | translate }}</mat-label>
      <input matInput placeholder="example@gmail.com">
    </mat-form-field>

    <button mat-stroked-button id="manual-search">
      <mat-label>{{ 'Ingresar' | translate }}</mat-label>
    </button>
  </div>
</ion-content>
